@tailwind base;
@tailwind components;
@tailwind utilities;

.bg {
	background-image: url('https://t3.ftcdn.net/jpg/05/04/37/10/360_F_504371073_TmmB9U3UYkbZnbbqs0ETz135Y1ftf6BG.jpg');
	background-position:100% 100% ;
	background-clip: text;
	color: transparent;
}
